.data-type-radio p,
.data-type-date p {
  margin-bottom: 5px;
 }

 .type-radio {
  display: flex;
 }

 .custom-radio {
  margin: 5px 15px 5px 0;
 }
 .custom-radio input {
  margin: 5px;
 }

 .input-group-append {
  cursor: pointer;
}


.card {
  margin-top: 80px;
}

.header.tax{
  display: flex;
  align-items: baseline;
}
.header.tax h3 {
  text-align: left;
  width: 50%;
}
.header.tax a {
  text-align: right;
  width: 50%;
}

.mb-3.type-tax {
  display: flex;
}
.mb-3.type-tax  label {
  width: 70%;
}
.tax-form-control {
  width: 30%;;
  text-align: right;
}

.button-auto button {
  margin: 5px;
}

.header h3 {
  margin-top: 10px;
}
