<p>page-input works!</p>

<div class="container">
  <form #myForm="ngForm" (submit)="templateForm(myForm.value)" novalidate>
      <div class="card">
        <div class="container">
          <div class="header">
            <h3>1. Input Detail</h3>
          </div>
          <hr>

          <div class="card-body">
            <div class="data-type-radio">
              <p>Type of filing</p>
              <div class="type-radio">
                <div class="custom-control custom-radio">
                  <input id="ordlnary" type="radio" class="custom-control-input" value="ordlnary" name="ordlnary" ngModel>
                  <label class="custom-control-label" for="ordlnary">Ordlnary Filing</label>
               </div>
               <div class="custom-control custom-radio">
                  <input id="additionl" type="radio" class="custom-control-input" value="additionl" name="additionl" ngModel>
                  <label class="custom-control-label" for="additionl">Additionl Filing</label>
               </div>
              </div>
            </div><br>

            <div class="data-type-date">
              <label for="date" class=" col-form-label">VAT Month</label>
              <form name="myForm" ng-controller="DateController as dateCtrl">
                <input type="date" id="exampleInput" name="input" ng-model="example.value"
                    placeholder="yyyy-MM-dd" min="1997-01-01" max="2023-12-31" required />
              </form>
            </div><br><br>

            <div class="header tax">
              <h3>2. Tax Computation</h3>
              <a href="">View Exchange Rate</a>
            </div>
            <hr>

            <div class="data-type-tax">
              <label class="form-label">Provide otal value taxable electronyc service</label>
              <div class="mb-3 type-tax">
                <label for="exampleFormControlTextarea1" class="form-label">
                  1. Total value of taxable electronyc service exclusive of VAT
                </label>
                <input type="number" class="tax-form-control" id="exampleFormControlTextarea1" rows="2" placeholder="THB">
              </div>
              <div class="mb-3 type-tax">
                <label for="exampleFormControlTextarea1" class="form-label">
                  Total VAT to be remitted ( 7% of 1. )
                </label>
                <input type="number" class="tax-form-control" id="exampleFormControlTextarea1" rows="2" placeholder="THB">
              </div>
            </div>
          </div>

          <div class="button-auto">
            <button type="submit" class="btn btn-danger mb-3">Back</button>
            <button type="submit" class="btn btn-primary mb-3">Naxt</button>
          </div>
        </div>
</div>

<!-- Form starts -->
